@use "~@teambit/design.responsive.breakpoints/_breakpoints.module.scss";

.tab {
  display: flex;
  justify-content: space-between;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.componentId {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  margin-left: 16px;
  text-decoration: none;
  min-width: 0;
  padding: 0 8px;
  height: 32px;
  border-radius: 8px 8px 0px 0px;
  font-size: 14px;
  color: var(--on-primary-color, white);
  box-sizing: border-box;
}

.tabLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 32px;
  width: 80px;
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--on-background-medium-color, #707279);
  border-radius: 8px;
  // flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;

  > svg {
    font-size: 16px;
  }

  &:hover {
    color: var(--on-background-high-color, #2b2b2b);
  }
  @include breakpoints.media-sm {
    width: 32px;
    > span {
      display: none;
    }
  }
}

.tabContent {
  // display: flex;
  // justify-content: center;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  height: 750px;
  border-radius: 8px;
  .showcaseCodeTab {
    // prevents the font size override in component-thinking-process
    --bit-p-xxs: 12px;
  }
  p {
    margin: 0;
  }
}

.showcaseTabs {
  display: flex;
  width: fit-content;
  overflow-x: hidden;
}

.tabContent {
  // min-height: 500px;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
